<section>
  <h1>viewChild</h1>
  <div>
    <p>Emp:</p>
    <input type="text" #empRef [(ngModel)]="emp" />
    <p>welcome to {{ emp }}</p>
  </div>
  <div>
    <p>EmpAddress:</p>
    <input type="text" [(ngModel)]="empAddress" />
    <p>welcome to {{ empAddress }}</p>
  </div>
</section>

<div>
  <h1>ng container example</h1>
  <p>
    I turned the corner
    <ng-container>
      and saw I waved
    </ng-container>
    and continued on my way.
  </p>
  <div>
    <div>
      Pick your favorite hero (<label
        ><input type="checkbox" checked (change)="showSad = !showSad" />show
        sad</label
      >)
    </div>
    <select [(ngModel)]="hero">
      <ng-container *ngFor="let h of heroes">
        <ng-container *ngIf="showSad || h.emotion !== 'sad'">
          <option [ngValue]="h">{{ h.name }} ({{ h.emotion }})</option>
        </ng-container>
      </ng-container>
    </select>
  </div>
</div>
<section>
  <h1>person dropdown ngFor</h1>

  <select name="" id="">
    <ng-container *ngFor="let person of people">
      <!-- <option [ngValue]="person" value="">{{person.name}}</option> -->
    </ng-container>
  </select>

  <h1>person dropdown self iterator</h1>

  <div *cmAppLoop="let nr of people; i as index">
    {{ nr.name }} - Foo Index: {{ i }}
  </div>
</section>

<div>
  <h1>structural directive example</h1>
  <p *cmUnless="condition" class="unless a">
    (A) This paragraph is displayed because the condition is false.
  </p>

  <p *cmUnless="!condition" class="unless b">
    (B) Although the condition is true, this paragraph is displayed because
    appUnless is set to false.
  </p>
</div>

<div class="table">
  <button [ngClass]="{ active: isActive }" (click)="isActive = !isActive">
    toggle me
  </button>

  <div *ngIf="people">
    <ul>
      <ng-container *ngFor="let person of people">
        <li *ngIf="person.age > 18">{{ person.name }} ({{ person.age }})</li>
      </ng-container>
    </ul>
  </div>

  <p [ngClass]="{ myBlue: true }">test classes</p>

  <!-- directive examples start -->
  <p cmHighlight="red">Highlight me!</p>
  <p cmHighlight="green" defaultColor="yellow">Highlighted in yellow</p>
  <p [cmHighlight]="'yellow'">Highlighted in orange</p>
  <!-- directive examples end -->

  <!-- <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th cmSortBy="firstName" (sorted)="sort($event)">First Name</th>
        <th cmSortBy="lastName" (sorted)="sort($event)">Last Name</th>
        <th cmSortBy="address" (sorted)="sort($event)">Address</th>
        <th cmSortBy="city" (sorted)="sort($event)">City</th>
        <th cmSortBy="state.name" (sorted)="sort($event)">State</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.state.name }}</td>

        <td>
          <a [routerLink]="['/customers', customer.id, 'orders']"
            >View Orders</a
          >
        </td>
      </tr>
      <tr *ngIf="!customers.length">
        <td>&nbsp;</td>
        <td colspan="7">No Records Found</td>
      </tr>
    </tbody>
  </table> -->

  <div>
    <div class="row">
      <div cmCardHover class="col-md-4 text-center">
        <div class="card-block">
          <h1>card one</h1>
          <p [style.display]="'none'" class="card-text">card hover data one</p>
        </div>
      </div>
      <div cmCardHover class="col-md-4 text-center">
        <div class="card-block">
          <h1>card one</h1>
          <p [style.display]="'none'" class="card-text">card hover data one</p>
        </div>
      </div>
      <div cmCardHover class="col-md-4 text-center">
        <div class="card-block">
          <h1>card one</h1>
          <p [style.display]="'none'" class="card-text">card hover data one</p>
        </div>
      </div>
    </div>
  </div>
</div>
